<div class="background-container">
  <div class="container index-container">
    <div class="container login-container">
      <h3>Account Login</h3>
      <form action="/login" method="post">

        <div class="formInput">
          <div class="login-input">
            <input type="email" id="emailInput" name="email" class="form-control-plaintext" placeholder="Email"
              required>
          </div>
          <div class="login-input">
            <input type="password" id="passWordInput" name="passWord" class="form-control-plaintext"
              placeholder="Password" required>
          </div>
          <button type="submit" class="btn btn-primary mb-2">Sign in</button>
        </div>

      </form>
      {{#if errorMessage}}
      <p class="errorMessage">{{errorMessage}}</p>
      {{/if}}
      <p class="signup-or-login-text"><a href="/signup">No account yet?</a></p>
    </div>
  </div>
</div>
</div>