     <div class="card">
        <img class="card-img-top" src="{{this.cityPictureUrl}}" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">{{this.city}}</h5>
          <p class="card-text">{{this.experience}}</p>
          <div class="travelboard-button-container">
            <a href="/city-details/{{this._id}}" type="button">See more</a>
          </div>
        </div>
      </div>