<div class="card">
  <img class="card-img-top" src="{{this.travelBoardPictureUrl}}" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">{{this.country}}</h5>
    <p class="card-text">{{this.experienceInput}}</p>
  </div>
</div>