<div class="container top-container">
  <div class="container">
    <h1>Add a new Travel Board!</h1>
    <form action="/add-travel-board" method="post">
      <div class="form-group">
        <label for="country">Country</label>
        <input type="text" class="form-control" id="country" name="country" placeholder="Where have you been?">
      </div>
      <div class="form-group">
        <label for="experience">Tell us about your travel experience</label>
        <textarea class="form-control" id="experienceInput" name="experienceInput" rows="3"></textarea>
      </div>
      <div class="form-group">
        <label for="image">Image </label>
        <input type="file" id="travelBoardPictureUrl" name="travelBoardPictureUrl">
      </div>
      <div class="container">
        <button type="button submit" class="btn btn-dark add-btn">Add Travel Board</button>
      </div>
    </form>
  </div>