<div class="background-container">
  <div class="container index-container">
    <div>
      <h1>Welcome to your<br>Travel Board</h1>
      <p></p>
      <button type="button" class="btn btn-dark">
        <a href="/login">
        Login</a></button>
      <button type="button" class="btn btn-dark">
        <a href="/signup">Sign-up</a>
        </button>
    </div>
  </div>
</div>