<div class="background-container">
  <div class="container index-container">
    <div>
      <h1>Welcome to your<br>Travel Board</h1>
      <p></p>
      <button type="button" class="btn btn-dark">Login</button>
      <button type="button" class="btn btn-dark">Signup</button>
    </div>
  </div>
</div>