<section id="profile">
  <div class="container profile-container">
    <div class="name-container">
      <img src="images/roybrussel.jpg" class="profile-img" alt="roybrussel">
    </div>
    <div class="about-container">
      <div class="profile-content">
        <h3>Roy-Arne Brussel</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer dictum vitae quam sit amet rutrum. Duis
          hendrerit tellus nec orci lacinia faucibus. Etiam cursus mi risus, eget porttitor erat posuere at. Class
          aptent
          taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Vivamus justo mauris, semper a
          vulputate congue, interdum non dui.</p>
        <h5>Favorite destination: Norway</h5>
      </div>
    </div>
</section>

<hr class="profile-hr">

<section id="travel-boards">
  <div class="container boards-header">
    <h1>My Travel Boards</h1>
  </div>
  <div class="container travel-boards-container">
    <div class="card">
      <img class="card-img-top" src="images/geiranger.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Norway</h5>
        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="images/levi.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Finland</h5>
        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="images/rio.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Brazil</h5>
        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </div>
    </div>
  </div>
  <div class="container travel-boards-container">
    <div class="card">
      <img class="card-img-top" src="images/mexico.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Mexico</h5>
        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="images/cambodia.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Cambodia</h5>
        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="images/thailand.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Thailand</h5>
        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </div>
    </div>
  </div>
</section>