<section id="profile">
  <div class="container top-container">
    <div class="row">
      <div class="col-3">
        <div class="profile-img-container">
          <img src="images/roybrussel.jpg" class="profile-img" alt="roy">
        </div>
      </div>
      <div class="col-9">
        <div class="about-container">
          <h3>Roy-Arne Brussel</h3>
          <a href="/edit-profile/{{userInSession._id}}">Edit Profile</a>
          <div class="text-container">
            <h5>About</h5>
            <p contenteditable="true">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer dictum vitae quam
              sit amet rutrum.
              Duis
              hendrerit tellus nec orci lacinia faucibus. Etiam cursus mi risus, eget porttitor erat posuere at. Class
              aptent
              taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Vivamus justo mauris,
              semper a
              vulputate congue, interdum non dui.</p>
          </div>
        </div>
      </div>
</section>

<hr>

<section id="travel-boards">
  <div class="container boards-header">
    <div class="row">
      <div class="col-sm">
      </div>
      <div class="col-sm boards-heading">
        <h1>My Travel Boards</h1>
      </div>
      <div class="col-sm add-btn-container">
        <a href="/add-travel-board" type="button" class="btn btn-dark add-btn">Add</a>
      </div>
    </div>
  </div>
  </div>
  <div class="container travel-boards-container">
    <a href="/travel-board-design">
      <div class="card">
        <img class="card-img-top" src="images/geiranger.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Norway</h5>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
      </div>
    </a>
    <div class="card">
      <img class="card-img-top" src="images/levi.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Finland</h5>
        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="images/rio.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Brazil</h5>
        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </div>
    </div>
  </div>
  <div class="container travel-boards-container">
    <div class="card">
      <img class="card-img-top" src="images/mexico.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Mexico</h5>
        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="images/cambodia.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Cambodia</h5>
        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="images/thailand.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Thailand</h5>
        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </div>
    </div>
  </div>
</section>