<header>
  <div class="container testing-container">
    <div class="row">
      <div class="col-3">
        <div class="test-img-container"
          style="background-image: url(https://spreekbeurten.info/wp-content/uploads/2016/10/kerstman.jpg)">
        </div>
      </div>
      <div class="col-8">
        <h3>Roy-Arne Brussel</h3>
        <a href="/edit-profile/{{userInSession._id}}">Edit Profile</a>
        <div class="text-container">
          <h5>About</h5>
        </div>
      </div>
    </div>
</header>