<div class="container top-container">
  <div class="container">
    <h1>Add a new city board!</h1>
    <form action="/add-city/{{travelBoard._id}}" method="post" enctype="multipart/form-data">
      <div class="form-group">
        <label for="city">Name of city or town:</label>
        <input type="text" class="form-control" id="city" name="city" placeholder="Where have you been?">
      </div>
      <div class="form-group">
        <label for="experience">Tell us about your travel experience</label>
        <textarea class="form-control" id="experience" name="experience" rows="3" maxlength="80"></textarea>
      </div>
      <div class="form-group">
        <label for="startDate">When did your trip start?</label>
        <input type="date" class="form-control" id="startDate" name="startDate">
      </div>

      <div class="form-group">
        <label for="endDate">When did your trip end?</label>
        <input type="date" class="form-control" id="endDate" name="endDate">
      </div>

      <div class="form-group">
        <label for="cityPictureUrl">Upload a picture:</label>
        <input type="file" name="cityPictureUrl" id="cityPictureUrl" />
        <input type="text" name="existingCityPictureUrl" hidden id="defaultCityPictureInput"
          value="/images/default-travelboard-img.png">
      </div>

      <div class="container">
        <button type="button submit" class="btn btn-dark add-btn">Add City Board</button>
      </div>
    </form>
  </div>