@import './partials/layout';
@import './partials/index';
@import './partials/profile';
@import './partials/travel-board';
@import './partials/not-found';

/* COLOR PALETTE
Light-blue: #f1f6f9
Grey-blue: #9ba4b4
Navy-blue: #394867
Blue: #14274e */

body, html {
  height: 100%;
}