.navbar {
  position: absolute;
  width: 100% !important;
  background-color: #E4EFF3 !important; }

footer {
  background-color: #E4EFF3; }

footer > div {
  padding: 1em;
  display: block;
  justify-content: center;
  text-align: center; }

.project-container {
  height: 100%; }

.copyright-container {
  color: #FFF;
  background-color: #394867;
  height: 100%; }

.background-container {
  background-image: url(/images/index-img.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100%; }

.index-container {
  height: 100%;
  width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center; }

.btn-index {
  margin: 5px; }

.top-row {
  display: inline-block; }

.profile-img-container {
  max-width: 100%;
  border: 5px solid #14274e;
  border-radius: 50%;
  overflow: hidden; }

.profile-img {
  max-width: 100%; }

.about-container {
  display: inline-block;
  justify-content: center;
  align-items: center;
  text-align: justify;
  width: 100%; }

.text-container {
  margin-top: 1.4em; }

.empty-travelboard-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 75px; }

.travel-boards-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center; }

.card {
  margin-bottom: 3.2em;
  margin-left: 1.2em; }

.boards-header {
  margin-top: 1.6em;
  margin-bottom: 1.6em; }

.boards-heading {
  display: flex;
  justify-content: center;
  align-items: center; }

.add-btn-container {
  display: flex;
  justify-content: flex-end;
  align-items: center; }

.add-btn {
  background-color: #394867;
  border-style: none; }

.add-btn:hover, .add-btn:focus, .add-btn:active {
  background-color: #14274e !important; }

.logout-btn {
  background: none !important;
  border: none; }

.card {
  width: 350px;
  -webkit-box-shadow: 10px 10px 46px -26px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 46px -26px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 46px -26px rgba(0, 0, 0, 0.75); }

.card-body {
  text-align: justify; }

.card:hover {
  transform: scale(1.02); }

.card-img-top {
  width: 100%;
  height: 150px;
  object-fit: cover; }

.card-tag {
  text-decoration: none; }

.travelboard-button-container {
  display: flex; }

.edit-delete-btn-container {
  display: flex;
  justify-content: end;
  margin: 0 auto; }

.travelboard-btn {
  margin-left: 1em; }

.travelboard-icon {
  font-size: 0.8em; }

.edit-btn {
  background-color: #394867; }

.see-more-btn:hover {
  text-decoration: underline !important; }

.form-container {
  display: flex;
  justify-content: center; }

.login-signup-container, .add-edit-travelboard-container {
  text-align: center;
  max-width: 25em;
  max-height: 100%;
  background-color: #fff;
  border-radius: 4px;
  padding: 0.8em;
  margin-bottom: 4em;
  -webkit-box-shadow: 10px 10px 46px -26px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 46px -26px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 46px -26px rgba(0, 0, 0, 0.75); }

.login-input, .travelboard-input {
  padding: 10px; }

.form-control-plaintext:focus {
  outline: none; }

.btn-primary {
  width: 100%;
  background-color: #394867;
  border-style: none;
  border-radius: 2px; }

.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
  background-color: #14274e !important; }

.signup-or-login-text {
  font-size: 0.9em; }

.signup-or-login-text:hover {
  color: #394867; }

.upload-container {
  margin-top: 2em; }

.charCount {
  float: right;
  font-size: 0.8em; }

.header-img {
  max-width: 100%;
  height: auto; }

.not-found {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center; }

.board-details-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.board-details-wrapper img {
  max-width: 800px; }

.board-details-wrapper .btn {
  max-width: 8em; }

.board-info-container {
  display: block;
  justify-content: center;
  text-align: center;
  margin-top: 1em; }

.all-cities {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
<<<<<<< HEAD
  align-items: center; }
=======
  align-items: center;
  margin-bottom: 1.6em;
  width: 100%; }

.all-cities .card {
  margin: 2%; }
>>>>>>> 5380969c3d56ff3a8839f0fc856e195b8f86a505

.country-img {
  width: 100%;
  height: 12em;
  object-fit: cover; }

.add-city-btn {
  background-color: #394867;
  border-style: none;
  margin: 1em; }

.add-city-btn:hover,
.add-city-btn:focus,
.add-city-btn:active {
  background-color: #14274e !important; }

.one-city {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0;
  padding: 0; }

.city-heading {
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: unset;
  width: 100%;
  height: 35em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.heading-text {
  background-color: rgba(255, 255, 255, 0.5);
  text-align: center;
  padding: 3%;
  border-radius: 3%; }

.city-heading h1 {
  font-size: 4em;
  font-weight: 700; }

.city-heading p {
  font-size: 2em;
  font-weight: 600; }

.city-heading h2 {
  font-size: 3em;
  font-weight: 700; }

/* COLOR PALETTE
Light-blue: #f1f6f9
Grey-blue: #9ba4b4
Navy-blue: #394867
Blue: #14274e */
body,
html {
  height: 100%;
  margin: 0 auto; }

a {
  color: inherit;
  text-decoration: none; }

a:hover {
  color: inherit;
  text-decoration: none;
  cursor: pointer; }

hr {
  width: 20%;
  border: 2px solid #9ba4b4;
  border-radius: 5px; }

.top-container {
  display: flex;
  justify-content: center;
  padding-top: 8em; }

/*# sourceMappingURL=style.css.map */