<div class="container top-container">
  {{#if userInSession}}
  <div class="container add-edit-travelboard-container">
    <h3>Add Travel Board!</h3>
    <form action="/add-travel-board/{{userInSession._id}}" method="post" enctype="multipart/form-data">
      <div class="formInput">
        <div class="travelboard-input">
          <input type="text" class="form-control-plaintext" id="country" name="country"
            placeholder="Where have you been?" required>
        </div>
        <div class="travelboard-input">
          <textarea class="form-control-plaintext" id="experienceInput" name="experienceInput"
            placeholder="Tell us about your experience!" rows="2" maxlength="80"></textarea>
        </div>
        <div class="form-group">
          <label for="travelBoardPictureInput">Upload travel picture</label>
          <input type="file" name="travelBoardPictureUrl" id="travelBoardPictureInput" />
          <input type="text" name="existingPicUrl" hidden id="defaultBoardPictureInput"
            value="/images/default-profile-img.png">
        </div>

        <div>
          <button type="button submit" class="btn btn-primary mb-2">Add Travel Board</button>
        </div>
      </div>
    </form>
  </div>
  {{else}}
  <button type="button" class="btn btn-dark">
    <a href="/login">
      Login</a></button>
  <button type="button" class="btn btn-dark">
    <a href="/signup">Sign-up</a>
  </button>
  {{/if}}
</div>