 <div class="container top-container">
<h1>Discover the world</h1>
<div class="allBoards">
{{#each allBoards}}
<div class="card">
  <img class="card-img-top" src="{{this.travelBoardPictureUrl}}" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">{{this.country}}</h5>
    <p class="card-text">{{this.experienceInput}}</p>
    <a href="/board-details/{{this._id}}" type="button" class="btn btn-dark add-btn">See more</a>
  </div>
</div>
{{/each}}
</div>
</div>