<header>
  <div class="board-details-wrapper">
    <h1>Discover</h1>
    <hr>
    <div class="travel-boards-container">
      {{#each allBoards}}
      {{> discoverboardpartial this}}
      {{/each}}
    </div>
  </div>
</header>