<div class="container top-container">
  {{#if travelBoard}}
  <div class="container add-edit-travelboard-container">
    <h3>Edit Travel Board</h3>
    <form action="/edit-travel-board/{{travelBoard._id}}" method="post" enctype="multipart/form-data">
      <div class="formInput">
        <div class="travelboard-input">
          <input type="text" class="form-control-plaintext" id="country" name="country" value="{{travelBoard.country}}">
        </div>
      </div>
      <div class="formInput">
        <div class="travelboard-input">
          <textarea class="form-control-plaintext" id="experienceInput" name="experienceInput" rows="3"
            onkeyup="countChars(this);" maxlength="80">{{travelBoard.experienceInput}}</textarea>
          <div class="charCount">
            <span id="current">0</span>
            <span id="maximum">/ 80</span>
          </div>
        </div>
        <div class="form-group upload-container">
          <label for="travelBoardPictureInput">Upload Photo</label>
          <input type="file" name="travelBoardPictureUrl" id="travelBoardPictureInput" />
          <input type="text" name="existingBoardPictureUrl" hidden id="defaultBoardPictureInput"
            value="{{travelBoard.travelBoardPictureUrl}}">
        </div>
        <div>
          <button type="button submit" class="btn btn-primary mb-2">Save Travel Board</button>
        </div>
      </div>
    </form>
  </div>
  {{/if}}
</div>