.one-city {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0;
  padding: 0;
}

.city-heading {
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: unset;
  width: 80%;
  height: 35em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.heading-text {
  background-color: rgba(255, 255, 255, 0.5);
  text-align: center;
  padding: 3%;
  border-radius: 3%;
  max-width: 25em;
}

.city-heading h1 {
  font-size: 3em;
  font-weight: 600;
}

.city-heading p {
  font-size: 1em;
  font-weight: 600;
}

.city-heading h2 {
  font-size: 2em;
  font-weight: 600;
}

.one-city .edit-delete-btn-container {
  margin: 4%;
}

.city-experience {
  font-size: 2em;
  font-style: italic;
  text-align: center;
}
