.form-container {
  display: flex;
  justify-content: center;
}

.login-signup-container, .add-edit-travelboard-container {
  text-align: center;
  max-width: 25em;
  max-height: 100%;
  background-color: #fff;
  border-radius: 4px;
  padding: 0.8em;
  margin-bottom: 4em;
  -webkit-box-shadow: 10px 10px 46px -26px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 46px -26px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 46px -26px rgba(0,0,0,0.75);
}

.login-input, .travelboard-input {
  padding: 10px;
}

.form-control-plaintext:focus {
  outline: none;
}

.btn-primary {
  width: 100%;
  background-color: #394867;
  border-style: none;
  border-radius: 2px;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active  {
  background-color: #14274e !important;
}

.signup-or-login-text {
  font-size: 0.9em;
}

.signup-or-login-text:hover {
  color: #394867;
}

.upload-container {
  margin-top: 2em;
}

.charCount {
  float: right;
  font-size: 0.8em;
}