.mapouter {
  position: relative;
  text-align: center;
}

.gmap_canvas {
  overflow: hidden;
  background: none !important;
}

.googlemaps-container {
  width: 800px;
  margin-top: 1.6em;
  margin-bottom: 1.6em;
}