.navbar {
  position: absolute;
  width: 100% !important;
  background-color: #E4EFF3 !important;
}

footer {
  background-color: #E4EFF3;
}

footer > div {  
  padding: 1em;
  display: block;
  justify-content: center;
  text-align: center;
}
.project-container {
  height: 100%;
}

.copyright-container {
  color: #FFF;
  background-color: #394867;
  height: 100%;
}