.navbar {
  position: absolute;
  width: 100% !important;
  background-color: #E4EFF3 !important;
}

footer {
  background-color: #E4EFF3;
}

// .project-container {  
//   padding: 1em;
//   display: block;
//   justify-content: center;
//   text-align: center;
// }

.project-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-header-container {
  margin-top: 1em;
}

.copyright-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em;
  width: 100%;
  color: #FFF;
  background-color: #394867; 
}

.credits-container {
  margin-bottom: 1em;
}