.card {
  width: 350px;
  -webkit-box-shadow: 10px 10px 46px -26px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 46px -26px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 46px -26px rgba(0, 0, 0, 0.75);
}
.card-body {
  text-align: justify;
  overflow: hidden;
}
.card:hover {
  transform: scale(1.02);
}
.card-img-top {
  width: 100%;
  height: 150px;
  object-fit: cover;
}
.card-tag {
  text-decoration: none;
}
.travelboard-button-container {
  display: flex;
}
.edit-delete-btn-container {
  display: flex;
  justify-content: end;
  margin: 0 auto;
}
.travelboard-btn {
  margin-left: 1em;
}
.travelboard-icon {
  font-size: 0.8em;
}
.edit-btn {
  background-color: #394867;
}
.see-more-btn:hover,
.profile-link:hover {
  text-decoration: underline !important;
}
