.card {
  width: 350px;
  -webkit-box-shadow: 10px 10px 46px -26px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 46px -26px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 46px -26px rgba(0,0,0,0.75);
}

.card:hover {
  transform: scale(1.02)
}

.card-img-top {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.card-tag {
  text-decoration: none;
}