.top-row {
  display: inline-block;
}

.profile-img-container {
  height: 15vw;
  width: 15vw;
  background-size: 100%;
  border-radius: 50%;
  object-fit: cover;
  background-repeat: no-repeat;
  -webkit-box-shadow: 10px 10px 46px -26px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 46px -26px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 46px -26px rgba(0, 0, 0, 0.75);
}

.header-container {
  height: 100%;
  margin-bottom: 1em;
}

.about-text {
  text-align: justify;
}

.top-container {
  display: flex;
  justify-content: center;
  width: 80vw;
  height: auto;
  padding-top: 8em;
}

.about-container {
  display: inline-block;
  justify-content: center;
  align-items: center;
  text-align: justify;
  background-color: red;
  width: 45vw;
}

.text-container {
  margin-top: 1.4em;
  max-height: 100%;
}

.empty-travelboard-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 75px;
}

.travel-boards-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  margin-top: 1.6em;
}

.card {
  margin-bottom: 3.2em;
  margin-left: 1.2em;
}

.card-text {
  height: 2.5em;
}

.boards-header {
  margin-top: 1.6em;
  margin-bottom: 1.6em;
}

.boards-heading {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.add-btn-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.add-btn {
  background-color: #394867;
  border-style: none;
}

.add-btn:hover,
.add-btn:focus,
.add-btn:active {
  background-color: #14274e !important;
}

.logout-btn {
  background: none !important;
  border: none;
}

.other-profile-header {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
