.top-row {
  display: inline-block;
}

.profile-img-container {
  width: 15em;
  height: 15em;
  position: relative;
  overflow: hidden;
  border: 5px solid #14274e;
  border-radius: 50% !important;
}

.profile-img {
  display: inline;
  margin: 0 auto;
  height: 100%;
  width: auto;
  object-fit:
}

.about-container {
  display: inline-block;
  justify-content: center;
  align-items: center;
  text-align: justify;
  width: 100%;
}

.text-container {
  margin-top: 1.4em;
}

.empty-travelboard-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 0.8em;
  margin-bottom: 0.8em;
}

.travel-boards-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  margin-top: 1.6em;
}

.card {
  margin-bottom: 3.2em;
  margin-left: 1.2em;
}

.card-text {
  height: 2.5em;
}

.boards-header {
  margin-top: 1.6em;
  margin-bottom: 1.6em;
}

.boards-heading {
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-btn-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.add-btn {
  background-color: #394867;
  border-style: none;
}

.add-btn:hover,
.add-btn:focus,
.add-btn:active {
  background-color: #14274e !important;
}

.logout-btn {
  background: none !important;
  border: none;
}

h1 {
  text-align: center;
}
