.profile-img {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  border: 5px solid #14274e;
}

.name-container {
  margin: 0 50px;
}

.about-container {
  display: inline-block;
  justify-content: center;
  align-items: center;
  text-align: justify;
  margin: 0 25px;
}

.text-container {
margin-top: 1%;
}

.test {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.travel-boards-container {
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
}

.boards-header {
  padding-top: 25px;
}

.boards-heading {
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-btn-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.add-btn {
  width: 20%;
  height: 75%;
}